@font-face {
    font-family: 'IM Fell English SC', serif;
    src: url('https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap')
}
nav {
    border-radius: 5px;  
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 8em;
    font-size: 5vw;
    font-weight: bold;
    font-family: 'IM Fell English SC', serif;
  }


.nav, a   {
    margin: 0 1em;
    color: rgb(6, 24, 13);
    text-shadow: .2vw .2vw salmon ;
    text-decoration: none;
    cursor: pointer;
  }
.cclink{
  font-size: 3em;
}
 
.nav:hover,
a:hover{
    transform: scale(1.2);
  }
.material-icons{
  font-size: 4em;
  position: absolute;
  top: 0.1em;
  right: 0.1em;
  cursor: pointer;
}
p,label,h1, h2, h3{
    font-family: 'IM Fell English SC', serif;
}

input{
    background-color:rgb(231, 215, 204, .4);
    border: 0;
    outline: none;
    padding: 0.5em 0.2em;
    width: auto;
    transition: all 0.2s;
    font-size: 1.3rem;
    color: rgb(167, 136, 136);
  }
  .footer{
    display: grid;
    align-content: flex-start;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgba(3, 109, 38, 0.4);
    grid-column-gap: .5em;
    margin-top: 5em;
    position: absolute;
    bottom: 3em;
    width: 100vw;
  }
  .sign{
    grid-column: 3;
    grid-row: 1;
  }
  .contact {
    grid-row: 1;
    grid-column: 2;
  }
  .CC{
    grid-row: 1;
    grid-column: 1;
  }

.below-footer {
  position:absolute;
  bottom: 0%;
  width: 100vw;
  display: flex;
  flex-direction: row;
  height: 3em;
  align-items: flex-start;
  background-color: rgba(3, 109, 38, 0.4);
;

}
.below-footer-1 {
  width: 100%;
  grid-row: 2;
  grid-column: 1;
  
}
.below-footer-2 {
  width: 100%;
  grid-row: 2;
  grid-column: 2;
}
.below-footer-3 {
  width: 100%;
  grid-row: 2;
  grid-column: 3;
}
.below-footer-4 {
  width: 100%;
  grid-row: 2;
  grid-column: 4;
}
.below-footer-5 {
  width: 100%;
  grid-row: 2;
  grid-column: 5;
}


  
  input:active, #sort
  input:focus {
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  }
  
  input::placeholder {
    color: rgba(255, 255, 255, 0.5);
    transition: all 0.2s;
  }
  
  input:active::placeholder,
  input:focus::placeholder {
    color: rgba(255, 255, 255, 0.2);
  }
  
  main {
    padding: 2em 0;
  }
  
  form {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  input {
    width: 80%;
    margin: 0 1em;
  }
  
  button {
    padding: 0.2em 1em;
    border: 0;
    border-radius: 4px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  #sort{
    background-color:rgb(231, 215, 204, .4);
    border: 0;
    border-bottom: .1em whitesmoke;
    box-shadow: none;
    outline: none;
    width: 15em;
    margin-bottom: 5em;
  }
  .department-card-container, .vestments-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 1rem;
  }
  .department-card{
    margin: 5em;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    max-height: 15em;
    max-width: auto;
    padding: 1em;
    border-bottom: .2em solid wheat;
    border-right: .2em solid wheat;
  }
  .vestment-card{
    display: flex;
    align-items: center;
    margin: 1em;
    justify-content: center;
    max-height: 20vh;
    max-width: auto;
    border-bottom: .2em solid wheat;
    border-right: .2em solid wheat;
    padding: .5em;

  }
  img{
    height: 100%;
    width: 100%;
  }

.card-image {
  max-height: 20vh;
}

.details-image {
  max-height: 50vh;
  width: auto;
}

.input-and-butt {
  display: flex;
  flex-direction: row;
  margin-bottom: .5em;
  margin-right: 1em;
}

