body {
    margin: 0;
    padding: 0;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2FTB6JCrM.jpg&f=1&nofb=1');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: inherit;

  }
  header {
    position: inherit;
    display: grid;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Flivinghistoryvw.com%2Fdata%2Fmedia%2F0%2F0%2FNing_Media%2Fdiscussions%2F2%2F2277_discussions.png&f=1&nofb=1');
    background-size: cover;
    /* background-position: center; */
    grid-gap: 1em;
}


