body {
    margin: 0;
    padding: 0;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpapercave.com%2Fwp%2FTB6JCrM.jpg&f=1&nofb=1');
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
a {
    color: rgb(167, 136, 136);
    text-decoration: none;
    margin: 3vw;
  }


